<!DOCTYPE html>
<html>
<head>
	<style type="text/css">

    	*{
    		margin: 0;
    		padding: 0;
    	}

    	.navbar-header{
    		background-color: gray;
    		height: 30px;
    		padding: 20px 25px;
    		border: 3px solid black;
    	}

    	.our_menu{
    		text-align: center;
    		margin: 3%;
    	}
    	.navbar-toggle{
    		position: relative;
    		float: right;
    		background-color: transparent;
    		border: 1px solid black;
    		border-radius: 4px; 
    		padding: 4px 9px;
    		outline: 0;

    	}
    	
    	.navbar-toggle .icon-bar{
    		display: block;
    		width: 22px;
    		height: 2px;
    		border-radius: 1px;
    		text-decoration: none;
    	}
      
        @media(min-width: 768px){
        	.navbar-toggle{
        		display: none;
        	}	
        }

        .icon-bar{
        	 width: 35px;
             height: 5px;
             background-color: black;
             margin: 6px 0; 	
        }

        .title{
        	font-size: 25px;
        }

        .list{
        	text-align: center;
        	display: none;
            }

        .show{
        	display: block;
        }

        ul li {
        	border: 1px solid black;
        	padding: 20px 50px;

        }

        .active, .navbar-toggle:hover {
               background-color: #555;
           }

        a{
           	text-decoration: none;
           	color: black;
           	font-size: 22px;
            }

        li:hover{
           	 background-color: #555;
             }

           .defin{ 
           	background-color: gray;
           	margin: auto;
           	width: 95%;
           	padding: 1%;
           }

           h2{
           	text-align: center;
           }
</style>
	<title></title>
</head>
<body>

</body>
</html>
